@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700&display=swap");

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

html {
    line-height: 1
}

ol,
ul {
    list-style: none
}

caption,
td,
th {
    text-align: left;
    font-weight: 400;
    vertical-align: middle
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none
}

a img {
    border: none
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

html {
    font-size: 112.5%;
    line-height: 1.3333333333em
}

body,
html {
    height: 100%
}

html {
    -webkit-tap-highlight-color: transparent
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
    font-family: Open Sans, sans-serif
}

body .emag-anchor {
    display: block;
    position: absolute;
    left: -999em
}

abbr[title],
dfn[title] {
    cursor: help
}

::-moz-selection {
    background: #31505c;
    color: #fff;
    text-shadow: none
}

::selection {
    background: #31505c;
    color: #fff;
    text-shadow: none
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

@font-face {
    font-family: ufmgicon;
    src: url(../fonts/ufmgicon.eot?1rdg7n);
    src: url(../fonts/ufmgicon.eot?1rdg7n#iefix) format("embedded-opentype"), url(../fonts/ufmgicon.ttf?1rdg7n) format("truetype"), url(../fonts/ufmgicon.woff?1rdg7n) format("woff"), url(../fonts/ufmgicon.svg?1rdg7n#ufmgicon) format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: block
}

[class*=" icon-"],
[class^=icon-] {
    font-family: ufmgicon !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-gt:before {
    content: "Ó§è"
}

.icon-minus:before {
    content: "Ó§ã"
}

.icon-plus:before {
    content: "Ó§é"
}

.icon-accessibility:before {
    content: "Ó§Ä"
}

.icon-contrast:before {
    content: "Ó§Å"
}

.icon-download:before {
    content: "Ó§Ç"
}

.icon-facebook:before {
    content: "Ó§É"
}

.icon-image:before {
    content: "Ó§Ñ"
}

.icon-instagran:before {
    content: "Ó§Ö"
}

.icon-left-arrow:before {
    content: "Ó§Ü"
}

.icon-pin:before {
    content: "Ó§á"
}

.icon-right-arrow:before {
    content: "Ó§à"
}

.icon-search:before {
    content: "Ó§â"
}

.icon-twitter:before {
    content: "Ó§ä"
}

.icon-ufmg-m:before {
    content: "Ó§å"
}

.icon-video:before {
    content: "Ó§ç"
}

.icon-facebook1:before {
    content: "Ó™ê"
}

.icon-whatsapp:before {
    content: "Ó™ì"
}

.icon-twitter1:before {
    content: "Ó™ñ"
}

.container {
    width: auto;
    max-width: 1090px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box
}

.container:after {
    content: "";
    display: table;
    clear: both
}

.btn,
input[type=submit] {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    background-color: #058ec7;
    color: #fff;
    display: inline-block;
    padding: 10px 25px;
    box-sizing: border-box;
    transition: all .1s linear, z-index 0ms, display 0ms;
    border: none;
    cursor: pointer
}

.btn:hover,
input[type=submit]:hover {
    background-color: #00bfff;
    color: #fff
}

.btn-center {
    text-align: center
}

.btn-right {
    text-align: right
}

.btn-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    color: #000
}

.share {
    padding-top: 18px
}

.share li,
.share span,
.share ul {
    display: inline-block
}

.share span {
    font-weight: 600;
    color: #c4c4c4
}

.share a {
    color: #fff;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    text-align: center;
    text-decoration: none
}

.share a i {
    font-size: 15px;
    line-height: 30px
}

.share li {
    margin-right: 9px;
    margin-left: 9px
}

.share .twitter a {
    background: #28a9e0
}

.share .whatsapp a {
    background: #2dd848
}

.share .facebook a {
    background: #405d9c
}

.breadcrumbs {
    display: block;
    width: 100%;
    margin-bottom: 2em
}

.breadcrumbs span {
    margin-right: 2px;
    margin-left: 2px
}

.breadcrumbs a,
.breadcrumbs span {
    font-size: 16px;
    color: #171435;
    text-decoration: none
}

.breadcrumbs .current-item {
    font-size: 16px;
    color: #058ec7
}

.hamburger {
    width: 24px;
    height: 20px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer
}

.hamburger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #000;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out
}

.hamburger span:first-child {
    top: 0
}

.hamburger span:nth-child(2),
.hamburger span:nth-child(3) {
    top: 8px
}

.hamburger span:nth-child(3) {
    top: 16px
}

.menu-open .hamburger span:first-child {
    top: 8px;
    width: 0;
    left: 50%
}

.menu-open .hamburger span:nth-child(2) {
    transform: rotate(45deg)
}

.menu-open .hamburger span:nth-child(3) {
    transform: rotate(-45deg);
    top: 8px
}

.menu-open .hamburger span:nth-child(4) {
    top: 16px;
    width: 0;
    left: 50%
}

.sp-easy-accordion .sp-ea-single {
    background-color: #fff !important
}

.sp-ea-one.sp-easy-accordion .sp-ea-single .ea-header a .ea-expand-icon {
    font-style: normal !important;
    position: absolute;
    right: 0;
    float: none;
    color: #000
}

.sp-easy-accordion .sp-ea-single .ea-header a {
    position: relative
}

.sp-easy-accordion .sp-ea-single {
    border-radius: 0 !important;
    margin-bottom: 24px !important
}

.eig-popup .icon-view {
    display: none !important
}

.acf-map {
    width: 100%;
    height: 400px;
    border: 1px solid #ccc;
    margin-bottom: 24px;
    margin-top: 24px
}

.acf-map img {
    max-width: inherit !important
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

table {
    background-color: transparent
}

caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777
}

caption,
th {
    text-align: left
}

table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px
}

table>tbody>tr>td,
table>tbody>tr>th,
table>tfoot>tr>td,
table>tfoot>tr>th,
table>thead>tr>td,
table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd
}

table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd
}

table>caption+thead>tr:first-child>td,
table>caption+thead>tr:first-child>th,
table>colgroup+thead>tr:first-child>td,
table>colgroup+thead>tr:first-child>th,
table>thead:first-child>tr:first-child>td,
table>thead:first-child>tr:first-child>th {
    border-top: 0
}

table>tbody+tbody {
    border-top: 2px solid #ddd
}

.table .table {
    background-color: #fff
}

.table-condensed>tbody>tr>td,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>td,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>thead>tr>th {
    padding: 5px
}

table,
table>tbody>tr>td,
table>tbody>tr>th,
table>tfoot>tr>td,
table>tfoot>tr>th,
table>thead>tr>td,
table>thead>tr>th {
    border: 1px solid #ddd
}

table>thead>tr>td,
table>thead>tr>th {
    border-bottom-width: 2px
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9
}

.table-hover>tbody>tr:hover {
    background-color: #f5f5f5
}

table col[class*=col-] {
    position: static;
    float: none;
    display: table-column
}

table td[class*=col-],
table th[class*=col-] {
    position: static;
    float: none;
    display: table-cell
}

.table>tbody>tr.active>td,
.table>tbody>tr.active>th,
.table>tbody>tr>td.active,
.table>tbody>tr>th.active,
.table>tfoot>tr.active>td,
.table>tfoot>tr.active>th,
.table>tfoot>tr>td.active,
.table>tfoot>tr>th.active,
.table>thead>tr.active>td,
.table>thead>tr.active>th,
.table>thead>tr>td.active,
.table>thead>tr>th.active {
    background-color: #f5f5f5
}

.table-hover>tbody>tr.active:hover>td,
.table-hover>tbody>tr.active:hover>th,
.table-hover>tbody>tr:hover>.active,
.table-hover>tbody>tr>td.active:hover,
.table-hover>tbody>tr>th.active:hover {
    background-color: #e8e8e8
}

.table>tbody>tr.success>td,
.table>tbody>tr.success>th,
.table>tbody>tr>td.success,
.table>tbody>tr>th.success,
.table>tfoot>tr.success>td,
.table>tfoot>tr.success>th,
.table>tfoot>tr>td.success,
.table>tfoot>tr>th.success,
.table>thead>tr.success>td,
.table>thead>tr.success>th,
.table>thead>tr>td.success,
.table>thead>tr>th.success {
    background-color: #dff0d8
}

.table-hover>tbody>tr.success:hover>td,
.table-hover>tbody>tr.success:hover>th,
.table-hover>tbody>tr:hover>.success,
.table-hover>tbody>tr>td.success:hover,
.table-hover>tbody>tr>th.success:hover {
    background-color: #d0e9c6
}

.table>tbody>tr.info>td,
.table>tbody>tr.info>th,
.table>tbody>tr>td.info,
.table>tbody>tr>th.info,
.table>tfoot>tr.info>td,
.table>tfoot>tr.info>th,
.table>tfoot>tr>td.info,
.table>tfoot>tr>th.info,
.table>thead>tr.info>td,
.table>thead>tr.info>th,
.table>thead>tr>td.info,
.table>thead>tr>th.info {
    background-color: #d9edf7
}

.table-hover>tbody>tr.info:hover>td,
.table-hover>tbody>tr.info:hover>th,
.table-hover>tbody>tr:hover>.info,
.table-hover>tbody>tr>td.info:hover,
.table-hover>tbody>tr>th.info:hover {
    background-color: #c4e3f3
}

.table>tbody>tr.warning>td,
.table>tbody>tr.warning>th,
.table>tbody>tr>td.warning,
.table>tbody>tr>th.warning,
.table>tfoot>tr.warning>td,
.table>tfoot>tr.warning>th,
.table>tfoot>tr>td.warning,
.table>tfoot>tr>th.warning,
.table>thead>tr.warning>td,
.table>thead>tr.warning>th,
.table>thead>tr>td.warning,
.table>thead>tr>th.warning {
    background-color: #fcf8e3
}

.table-hover>tbody>tr.warning:hover>td,
.table-hover>tbody>tr.warning:hover>th,
.table-hover>tbody>tr:hover>.warning,
.table-hover>tbody>tr>td.warning:hover,
.table-hover>tbody>tr>th.warning:hover {
    background-color: #faf2cc
}

.table>tbody>tr.danger>td,
.table>tbody>tr.danger>th,
.table>tbody>tr>td.danger,
.table>tbody>tr>th.danger,
.table>tfoot>tr.danger>td,
.table>tfoot>tr.danger>th,
.table>tfoot>tr>td.danger,
.table>tfoot>tr>th.danger,
.table>thead>tr.danger>td,
.table>thead>tr.danger>th,
.table>thead>tr>td.danger,
.table>thead>tr>th.danger {
    background-color: #f2dede
}

.table-hover>tbody>tr.danger:hover>td,
.table-hover>tbody>tr.danger:hover>th,
.table-hover>tbody>tr:hover>.danger,
.table-hover>tbody>tr>td.danger:hover,
.table-hover>tbody>tr>th.danger:hover {
    background-color: #ebcccc
}

.table-responsive,
table {
    overflow-x: auto;
    min-height: .01%
}

@media screen and (max-width:767px) {
    table {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd
    }

    .table-responsive>.table {
        margin-bottom: 0
    }

    .table-responsive>.table>tbody>tr>td,
    .table-responsive>.table>tbody>tr>th,
    .table-responsive>.table>tfoot>tr>td,
    .table-responsive>.table>tfoot>tr>th,
    .table-responsive>.table>thead>tr>td,
    .table-responsive>.table>thead>tr>th {
        white-space: nowrap
    }

    .table-responsive>.table-bordered {
        border: 0
    }

    .table-responsive>.table-bordered>tbody>tr>td:first-child,
    .table-responsive>.table-bordered>tbody>tr>th:first-child,
    .table-responsive>.table-bordered>tfoot>tr>td:first-child,
    .table-responsive>.table-bordered>tfoot>tr>th:first-child,
    .table-responsive>.table-bordered>thead>tr>td:first-child,
    .table-responsive>.table-bordered>thead>tr>th:first-child {
        border-left: 0
    }

    .table-responsive>.table-bordered>tbody>tr>td:last-child,
    .table-responsive>.table-bordered>tbody>tr>th:last-child,
    .table-responsive>.table-bordered>tfoot>tr>td:last-child,
    .table-responsive>.table-bordered>tfoot>tr>th:last-child,
    .table-responsive>.table-bordered>thead>tr>td:last-child,
    .table-responsive>.table-bordered>thead>tr>th:last-child {
        border-right: 0
    }

    .table-responsive>.table-bordered>tbody>tr:last-child>td,
    .table-responsive>.table-bordered>tbody>tr:last-child>th,
    .table-responsive>.table-bordered>tfoot>tr:last-child>td,
    .table-responsive>.table-bordered>tfoot>tr:last-child>th {
        border-bottom: 0
    }
}

.gradient-line {
    width: 100%;
    height: 1px;
    display: block;
    background: #c4c4c4;
    border: 0;
    margin-bottom: 2em
}

.pagination {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center
}

.pagination li {
    display: inline-block;
    padding-right: 18px;
    padding-left: 18px;
    position: relative
}

.pagination li:after {
    content: " ";
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #000;
    border-radius: 100%;
    right: -2px;
    top: 16px
}

.pagination li:last-child:after {
    content: none
}

.pagination a,
.pagination span {
    font-size: 16px;
    line-height: 36px;
    color: #171435;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 36px;
    height: 36px;
    transition: all .2s linear, z-index 0ms, display 0ms;
    border-radius: 100%;
    position: relative
}

.pagination .current,
.pagination a:hover {
    background-color: #000;
    color: #fff
}

.header {
    background: #1f3748;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .15);
    display: block;
    overflow: hidden;
    width: 100%;
    z-index: 10
}

.header,
.header-container {
    position: relative
}

.header-mobilemenubtn {
    display: none;
    background: #fff;
    line-height: 0
}

.header-mobilemenubtn .menu-btn {
    display: inline-block;
    cursor: pointer;
    padding: 14px 16px
}

.header-accessibility,
.header-brand,
.header-search {
    box-sizing: border-box;
    float: left;
    position: relative
}

.header-brand {
    width: 35%
}

.header-accessibility {
    width: 30%
}

.header-search {
    width: 35%
}

.header-brand {
    display: inline-block;
    padding-bottom: 1em;
    padding-top: 1em
}

.header-brand a {
    color: #fff;
    display: inline-block;
    text-decoration: none
}

.header-brand a i,
.header-brand a span {
    display: inline-block;
    vertical-align: middle
}

.header-brand a i {
    font-size: 44px;
    border-right: 2px solid #fff;
    margin-right: 16px;
    padding-right: 16px
}

.header-brand a span {
    font-size: 1em;
    line-height: 1.3333333333em;
    font-weight: 700;
    font-family: Open Sans;
    max-width: 210px
}

.header-accessibility li {
    display: inline-block;
    vertical-align: middle
}

.header-accessibility li.only-mobile {
    display: none
}

.header-accessibility a {
    color: #fff;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    text-decoration: none;
    padding: .6666666667em 10px
}

.header-accessibility span {
    font-size: .7777777778em;
    line-height: 1.7142857143em;
    display: block
}

.header-accessibility span.b {
    font-weight: 700;
    font-size: .7777777778em;
    line-height: 1.3714285714em
}

.header-accessibility i {
    display: block;
    font-size: 24px;
    line-height: 36px
}

.header-search {
    display: inline-block;
    padding-bottom: 1em;
    padding-top: 1em
}

.header-search,
.header-search form {
    position: relative
}

.header-search button,
.header-search input {
    background-color: #fff;
    border: 0;
    outline: none;
    padding: 0;
    margin: 0
}

.header-search input {
    border-radius: 24px;
    font-size: 16px;
    line-height: 18px;
    padding: 14px 64px 14px 20px;
    height: 48px;
    width: 100%
}

.header-search button {
    background-color: transparent;
    position: absolute;
    font-size: 24px;
    width: 24px;
    height: 24px;
    left: calc(100% - 44px);
    top: 12px;
    color: #000
}

@media (max-width:1024px) {
    .header-mobilemenubtn {
        display: block
    }

    .header-brand {
        padding-bottom: .3333333333em;
        padding-top: .3333333333em;
        width: 55%
    }

    .header-brand a i {
        margin-right: 5px;
        padding-right: 8px;
        font-size: 24px
    }

    .header-brand a span {
        font-size: .7777777778em;
        line-height: 1.2857142857em
    }

    .header-accessibility {
        width: 45%;
        text-align: right
    }

    .header-accessibility li a {
        padding-bottom: .3333333333em;
        padding-top: .3333333333em
    }

    .header-accessibility li.only-desk,
    .header-accessibility li span {
        display: none
    }

    .header-accessibility li.only-mobile {
        display: inline-block
    }

    .header-search {
        display: none;
        position: absolute;
        padding-bottom: 0;
        padding-top: 0;
        right: 16px;
        bottom: 0;
        width: 60%
    }

    .header-search input {
        height: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 1px solid #43d9ff
    }

    .header-search button {
        top: 10px;
        display: none
    }
}

@media (max-width:500px) {
    .header-brand {
        width: 100%
    }

    .header-accessibility {
        position: absolute;
        top: 100%;
        right: 0;
        width: calc(100% - 40px)
    }

    .header-accessibility li a {
        color: #000
    }
}

.menu-and-content {
    display: block;
    width: 100%;
    overflow: hidden;
    margin-top: 3.3333333333em
}

.menu-and-content .main,
.menu-and-content .navigation {
    float: left
}

.menu-and-content .navigation {
    width: calc(25% - 18px);
    margin-right: 18px
}

.menu-and-content .main {
    width: calc(75% - 18px);
    margin-left: 18px
}

.menu-and-content .main-section {
    margin-bottom: 4em
}

.menu-and-content .main-section>header h1 {
    font-size: 1.6666666667em;
    line-height: 1.6em;
    margin-bottom: .6666666667em;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 900;
    color: #000
}

.menu-and-content .main-content p {
    margin-bottom: 1.3333333333em
}

.menu-and-content .main-content b,
.menu-and-content .main-content strong {
    font-weight: 700
}

.menu-and-content .main-content em,
.menu-and-content .main-content i {
    font-style: italic
}

.menu-and-content .main-content a {
    font-weight: 600;
    text-decoration: underline;
    color: #058ec7
}

.menu-and-content .main-content ol,
.menu-and-content .main-content ul {
    list-style: inherit;
    margin-left: 16px
}

.menu-and-content .main-content .img-highlight {
    display: block;
    width: 100%;
    margin-bottom: 2.6666666667em
}

.menu-and-content .main-content .img-highlight img {
    width: 100%
}

.menu-and-content .main-content img {
    max-width: 775px
}

.menu-and-content .main-content h2,
.menu-and-content .main-content h3,
.menu-and-content .main-content h4 {
    font-weight: 700;
    color: #171435
}

.menu-and-content .main-content h2 {
    font-size: 2em;
    line-height: 1.3333333333em
}

.menu-and-content .main-content h3 {
    font-size: 1.3333333333em;
    line-height: 2em
}

.menu-and-content .main-content h4 {
    font-size: 1em;
    line-height: 1.3333333333em
}

.menu-and-content .main-content figure figcaption {
    font-size: 1.1111111111em;
    line-height: 1.8em;
    color: #c4c4c4;
    font-style: italic;
    font-weight: 400
}

@media (max-width:1024px) {
    .menu-and-content {
        margin-top: 2.6666666667em
    }

    .menu-and-content .navigation .menu,
    .menu-and-content .navigation .quick-access,
    .menu-and-content .navigation .social-networks,
    .menu-and-content .navigation hr {
        display: none
    }

    .menu-and-content .main {
        width: 100%;
        margin-left: 0
    }

    .menu-and-content .main-section {
        margin-bottom: 2em
    }

    .menu-and-content .main-section>header h1 {
        font-size: 2em;
        line-height: 1.3333333333em
    }
}

@media (max-width:768px) {
    .main img {
        width: 100%;
        height: auto
    }
}

.menu {
    margin-bottom: 2em;
    background-color: #fff;
    transition: all .2s linear, z-index 0ms, display 0ms
}

.menu li,
.menu ul {
    display: block;
    position: relative
}

.menu li {
    margin-bottom: 9px;
    cursor: pointer
}

.menu ul.sub-menu {
    display: none;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(5, 142, 199, .2)
}

.menu ul.sub-menu li.current-menu-item a {
    font-weight: 700;
    background-color: transparent
}

.menu ul.sub-menu li a {
    font-size: .7777777778em;
    line-height: 1.7142857143em;
    background: transparent;
    color: #1f3748;
    font-weight: 600
}

.menu ul.sub-menu li a:hover {
    background-color: transparent;
    font-weight: 700
}

.menu li.current-menu-parent ul.sub-menu {
    display: block
}

.menu li.active .submenu-link b:before {
    content: "Ó§ã"
}

.menu .current-menu-item a,
.menu .current-menu-parent a,
.menu a:hover,
.menu li.active a {
    background-color: #1f3748
}

.menu a {
    font-size: .8888888889em;
    line-height: 1.5em;
    background: #058ec7;
    color: #fff;
    display: block;
    font-weight: 700;
    padding: 6px 18px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .2s linear, z-index 0ms, display 0ms;
    position: relative
}

.menu a span {
    position: relative;
    z-index: 10
}

.menu .menu-item-has-children a,
.menu a.dropdown-toggle {
    padding-right: 30px
}

.menu .submenu-link {
    color: #fff;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    text-align: center;
    z-index: 9
}

.menu .submenu-link b {
    font-family: ufmgicon !important;
    font-size: 14px;
    line-height: 36px
}

.menu .submenu-link b:before {
    content: "Ó§é"
}

.quick-access {
    margin-bottom: 2em
}

.quick-access ul li {
    display: block;
    margin-bottom: 18px
}

.quick-access ul a {
    font-size: .7777777778em;
    line-height: 1.7142857143em;
    font-weight: 700;
    color: #000;
    display: block;
    padding: 15px 20px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    position: relative;
    background: #fbb731;
    transition: all .2s linear, z-index 0ms, display 0ms
}

.quick-access ul a:hover {
    background-color: #effaff
}

.quick-access ul a span {
    position: relative;
    z-index: 10
}

.social-networks {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    overflow: hidden
}

.social-networks li {
    width: 33.3333%;
    float: left;
    margin-bottom: 1.3333333333em
}

.social-networks a {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 20px !important;
    text-decoration: none;
    color: #000;
    border: 1px solid;
    border-radius: 100%;
    text-align: center
}

.social-networks a i {
    position: relative;
    line-height: 40px;
    vertical-align: middle
}

.menu-open .menu {
    display: block !important
}

@media (max-width:1024px) {
    .menu {
        position: absolute;
        top: 88px;
        left: 0;
        z-index: 999;
        width: 300px
    }
}

.footer {
    margin-top: 3.3333333333em
}

.footer .container {
    text-align: center
}

.footer-line {
    width: 100%;
    height: 1px;
    background: #c4c4c4
}

.footer-line,
.footer-mobile {
    margin-bottom: 2.6666666667em
}

.footer-mobile {
    text-align: center;
    display: none
}

.footer-mobile .quick-access {
    display: inline-block
}

.footer-mobile .social {
    display: block
}

.footer-support {
    display: block;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-bottom: 2.6666666667em
}

.footer-support .support-row {
    display: block;
    overflow: hidden;
    width: 100%;
    margin-bottom: 1.3333333333em
}

.footer-support .title {
    font-size: .7777777778em;
    line-height: 1.7142857143em;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: left
}

.footer-support li {
    margin-bottom: 2.6666666667em;
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px
}

.footer-support li a {
    display: block
}

.footer-support li img {
    max-width: 150px
}

.footer-sign {
    background-color: #1f3748;
    padding-bottom: 1.3333333333em;
    padding-top: 2.6666666667em
}

.footer-sign p {
    font-size: .7777777778em;
    line-height: 1.7142857143em;
    text-align: center;
    color: #fff;
    margin-bottom: 1.3333333333em
}

.footer-sign p strong {
    font-weight: 700
}

@media (max-width:1023px) {
    .footer-mobile {
        display: block
    }
}

@media (max-width:799px) {

    .footer .support-col.col1,
    .footer .support-col.col2,
    .footer .support-col.col3 {
        width: 100%;
        display: block
    }
}

@media (max-width:500px) {
    .footer-mobile {
        display: block
    }

    .footer-support {
        text-align: left;
        margin-left: 0;
        margin-right: 0;
        display: block
    }

    .footer-support ul {
        text-align: left
    }

    .footer-support li {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 2.6666666667em;
        display: block
    }

    .footer-support .prefeitura-bh {
        width: 100%
    }
}

.banner {
    position: relative
}

.banner .container {
    text-align: center
}

.banner-controls-wrapper {
    bottom: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 100;
    background: linear-gradient(1turn, rgba(0, 0, 0, .5), transparent);
    padding-top: 126px;
    padding-bottom: 36px
}

.banner-controls {
    position: relative;
    display: inline-block;
    text-align: center;
    margin-top: 30px
}

.banner-controls button.owl-dot {
    margin-right: 15px;
    margin-left: 15px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 0;
    background-color: #fff;
    cursor: pointer;
    position: relative
}

.banner-controls button.owl-dot.active {
    background-color: #058ec7 !important
}

.banner-controls button.owl-dot.active:before {
    content: " ";
    width: 21px;
    height: 21px;
    background-color: transparent;
    border: 2px solid #058ec7;
    border-radius: 100%;
    position: absolute;
    top: -5px;
    left: -5px
}

.banner-controls .owl-next,
.banner-controls .owl-prev {
    position: absolute;
    font-size: 18px;
    line-height: 18px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    top: 3px;
    color: #fff
}

.banner-controls .owl-prev {
    left: -50px
}

.banner-controls .owl-prev .icon-gt {
    transform: rotate(180deg);
    display: block
}

.banner-controls .owl-next {
    left: calc(100% + 25px)
}

@media (max-width:1024px) {
    .banner .banner-controls-wrapper {
        position: relative;
        padding-top: 0;
        padding-bottom: 0;
        background: transparent
    }

    .banner .banner-controls-wrapper .banner-controls button.owl-dot {
        background-color: #000
    }

    .banner .banner-controls-wrapper .banner-controls .owl-next,
    .banner .banner-controls-wrapper .banner-controls .owl-prev {
        color: #000
    }
}

.home .intro p {
    margin-bottom: 2em
}

.home .workshop-items {
    padding-right: 57px;
    padding-left: 57px;
    box-sizing: border-box
}

@media (max-width:1023px) {
    .home .workshop-items {
        padding-right: 25px;
        padding-left: 25px
    }
}

.home .workshop-item {
    position: relative;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .25)
}

@media (max-width:1023px) {
    .home .workshop-item {
        min-height: 250px
    }
}

.home .workshop-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsla(0, 0%, 100%, .8);
    width: 80%;
    box-sizing: border-box;
    padding: 20px;
    z-index: 999;
    text-align: center
}

@media (max-width:999px) {
    .home .workshop-header {
        width: 100%
    }
}

@media (max-width:499px) {
    .home .workshop-header {
        padding: 20px
    }
}

.home .workshop-header h1 {
    font-size: 1.3333333333em;
    line-height: 1.5em;
    margin-bottom: 1em;
    font-family: Livvic;
    font-style: normal;
    font-weight: 700
}

@media (max-width:1023px) {
    .home .workshop-header h1 {
        font-size: 1em;
        line-height: 1.3333333333em;
        margin-bottom: .6666666667em
    }
}

.home .workshop-header p.place {
    font-size: .8888888889em;
    line-height: 1.5em;
    margin-bottom: 2.25em;
    font-family: Livvic;
    font-style: normal;
    font-weight: 400;
    color: #f767cb
}

.home .workshop-header p.place .icon-pin {
    margin-right: 10px
}

@media (max-width:1023px) {
    .home .workshop-header p.place {
        margin-bottom: 1.5em
    }
}

.home .workshop-gradient {
    background: linear-gradient(270deg, #f590d7, rgba(247, 103, 203, 0) 53.91%), #43d9ff;
    opacity: .25;
    width: 100%;
    height: 100%;
    position: absolute
}

.home .workshop-figure {
    line-height: 0
}

.home .workshop-figure img {
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .25)
}

@media (max-width:1023px) {
    .home .workshop-figure img {
        min-height: 250px
    }
}

.home .workshop .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1
}

.home .workshop button.owl-next,
.home .workshop button.owl-prev {
    font-size: 40px;
    color: #f767cb;
    outline: none
}

@media (max-width:1023px) {

    .home .workshop button.owl-next,
    .home .workshop button.owl-prev {
        font-size: 28px
    }
}

.home .workshop button.owl-next {
    float: right
}

.home .gallery {
    display: block
}

.home .gallery-items {
    display: block;
    width: 100%;
    overflow: hidden
}

.home .gallery-item {
    position: relative;
    margin-bottom: 1.3333333333em
}

.home .gallery-col-1 {
    width: 100%
}

.home .gallery-col-1 .gallery-link {
    height: 289px
}

.home .gallery-col-1 .gallery-header {
    text-align: left;
    top: inherit;
    bottom: 0;
    left: 0;
    transform: translate(0);
    padding: 24px
}

.home .gallery-col-2 {
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.5%;
    margin-left: 0;
    margin-right: 3%
}

.home .gallery-col-2:after {
    content: "";
    display: table;
    clear: both
}

.home .gallery-col-2:nth-child(n) {
    margin-right: 3%;
    float: left;
    clear: none
}

.home .gallery-col-2:nth-child(2n) {
    margin-right: 0;
    float: right
}

.home .gallery-col-2:nth-child(odd) {
    clear: both
}

.home .gallery-col-2 .gallery-link {
    height: 217px
}

.home .gallery-col-3 {
    float: left;
    clear: none;
    text-align: inherit;
    width: 31.3333333333%;
    margin-left: 0;
    margin-right: 3%
}

.home .gallery-col-3:after {
    content: "";
    display: table;
    clear: both
}

.home .gallery-col-3:nth-child(n) {
    margin-right: 3%;
    float: left;
    clear: none
}

.home .gallery-col-3:nth-child(3n) {
    margin-right: 0;
    float: right
}

.home .gallery-col-3:nth-child(3n+1) {
    clear: both
}

.home .gallery-col-3 .gallery-link {
    height: 217px
}

.home .gallery-col-3 .gallery-link--image {
    height: auto !important
}

@media (max-width:599px) {

    .home .gallery .gallery-col-1,
    .home .gallery .gallery-col-2,
    .home .gallery .gallery-col-3 {
        float: none;
        margin-right: 0;
        margin-left: 0;
        display: block;
        width: 100%
    }
}

.home .gallery .btn-center {
    margin-top: 1.3333333333em
}

.home .gallery-link {
    box-shadow: 0 4px 6px rgba(0, 0, 0, .25);
    display: block;
    height: 100%;
    position: relative;
    transition: all .2s linear, z-index 0ms, display 0ms
}

.home .gallery-link:hover {
    box-shadow: 4px 4px 2px rgba(0, 0, 0, .5)
}

.home .gallery-figure {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    line-height: 0
}

.home .gallery-figure img {
    width: 100%
}

.home .gallery-gradient,
.home .gallery-gradient2,
.home .gallery-header {
    position: absolute
}

.home .gallery-gradient,
.home .gallery-gradient2 {
    width: 100%;
    height: 100%
}

.home .gallery-gradient {
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .4));
    z-index: 99
}

.home .gallery-gradient2 {
    background: rgba(5, 142, 199, .5);
    z-index: 9
}

.home .gallery-header {
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999
}

.home .gallery-header h1,
.home .gallery-header span {
    color: #fff
}

.home .gallery-header h1 {
    font-size: 1.3333333333em;
    line-height: 1.3em;
    margin-bottom: 1em;
    font-weight: 700;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .5)
}

.home .gallery-header span {
    font-size: 55px
}

.prog-link {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    text-decoration: none
}

.prog-day {
    font-size: 2em;
    line-height: 1.3333333333em;
    margin-bottom: .6666666667em;
    color: #058ec7;
    font-weight: 700
}

.prog-highlight {
    position: relative;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .25);
    margin-bottom: 2em
}

.prog-highlight figure {
    line-height: 0;
    overflow: hidden
}

.prog-highlight figure img {
    width: 100%
}

.prog-highlight .bgc1,
.prog-highlight .bgc2,
.prog-highlight .figure {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0
}

.prog-highlight .figure {
    z-index: -1;
    background-size: cover
}

.prog-highlight .bgc2 {
    background: rgba(5, 142, 199, .5);
    z-index: 10
}

.prog-highlight .bgc1 {
    background: linear-gradient(1turn, rgba(31, 55, 72, .5), rgba(31, 55, 72, 0));
    z-index: 20
}

.prog-highlight .wrapper {
    z-index: 100;
    box-sizing: border-box;
    bottom: 0;
    height: auto;
    padding: 100px 20px 30px;
    position: relative
}

.prog-highlight .wrapper header {
    margin-bottom: .6666666667em;
    margin-top: .6666666667em
}

.prog-highlight .wrapper h1,
.prog-highlight .wrapper time {
    font-size: 1.6666666667em;
    line-height: .8em;
    color: #fff;
    font-weight: 700
}

.prog-highlight .wrapper time span {
    font-size: 20px;
    font-weight: 400
}

.prog-highlight .wrapper .prog-place {
    color: #fff
}

.prog-items {
    margin-bottom: 2.6666666667em
}

.prog-item {
    margin-bottom: 1.3333333333em
}

.prog-item time {
    font-size: 1.3333333333em;
    line-height: 2em;
    color: #058ec7;
    font-weight: 700;
    padding-left: 10px
}

.prog-item time span {
    font-size: 12px;
    font-weight: 400
}

.prog-item h1 {
    margin-bottom: .2666666667em;
    color: #171435;
    font-weight: 700
}

.prog-item .desc {
    margin-bottom: .4em;
    color: #171435
}

.prog-item .desc,
.prog-place {
    font-size: .8888888889em;
    line-height: 1.5em
}

.prog-place {
    color: #fbb731
}

.prog-place i {
    margin-right: 10px
}

.prog-left,
.prog-right {
    box-sizing: border-box
}

.prog-left {
    width: 121px;
    border-right: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.prog-right {
    float: right;
    width: calc(100% - 121px);
    border-left: 1px solid #058ec7;
    padding-left: 15px
}

.news-items {
    display: block;
    overflow: hidden
}

.news-item,
.news-items {
    margin-bottom: 2.6666666667em
}

.news-item {
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.5%;
    margin-left: 0;
    margin-right: 3%;
    position: relative
}

.news-item:after {
    content: "";
    display: table;
    clear: both
}

.news-item:nth-child(n) {
    margin-right: 3%;
    float: left;
    clear: none
}

.news-item:nth-child(2n) {
    margin-right: 0;
    float: right
}

.news-item:nth-child(odd) {
    clear: both
}

.news-link {
    text-decoration: none;
    color: #000;
    display: inline-block
}

.news-link:hover .news-figure img {
    transform: scale(1.05)
}

.news-figure,
.news-highlight {
    line-height: 0;
    overflow: hidden
}

.news-figure img,
.news-highlight img {
    width: 100%;
    height: 100%;
    transition: all .2s linear, z-index 0ms, display 0ms
}

.news-header {
    margin-top: 1.3333333333em
}

.news-header h1 {
    font-size: 1.6666666667em;
    line-height: 1.2em;
    margin-bottom: .4em;
    color: #171435
}

.news-header time {
    font-size: .7777777778em;
    line-height: 1.7142857143em;
    margin-bottom: .8571428571em;
    color: #171435;
    display: block
}

.news__internal .news-header {
    margin-bottom: 2.6666666667em
}

.news__internal .news-header h1 {
    font-size: 1.6666666667em;
    line-height: 1.6em;
    font-weight: 700;
    color: #171435
}

.news__internal .news-highlight {
    margin-bottom: 4em
}

@media (max-width:748px) {
    .news-items {
        margin-bottom: 1.3333333333em
    }

    .news-item {
        float: left;
        clear: none;
        text-align: inherit;
        width: 100%;
        margin-left: 0;
        margin-right: 3%
    }

    .news-item:after {
        content: "";
        display: table;
        clear: both
    }

    .news-item:nth-child(n) {
        margin-right: 3%;
        float: left;
        clear: none
    }

    .news-item:nth-child(1n) {
        margin-right: 0;
        float: right
    }

    .news-item:nth-child(1n+1) {
        clear: both
    }
}

.search-item a {
    display: block;
    text-decoration: none !important
}

.search-item p {
    color: #000
}

.tv-items {
    display: block;
    overflow: hidden
}

.tv-item {
    margin-bottom: 1.3333333333em;
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.5%;
    margin-left: 0;
    margin-right: 3%
}

.tv-item:after {
    content: "";
    display: table;
    clear: both
}

.tv-item:nth-child(n) {
    margin-right: 3%;
    float: left;
    clear: none
}

.tv-item:nth-child(2n) {
    margin-right: 0;
    float: right
}

.tv-item:nth-child(odd) {
    clear: both
}

@media (max-width:1023px) {
    .tv-item {
        float: left;
        clear: none;
        text-align: inherit;
        width: 100%;
        margin-left: 0;
        margin-right: 3%
    }

    .tv-item:after {
        content: "";
        display: table;
        clear: both
    }

    .tv-item:nth-child(n) {
        margin-right: 3%;
        float: left;
        clear: none
    }

    .tv-item:nth-child(1n) {
        margin-right: 0;
        float: right
    }

    .tv-item:nth-child(1n+1) {
        clear: both
    }
}

.tv-item figure {
    width: 100%;
    overflow: hidden;
    line-height: 0
}

.tv-item figure img {
    transition: all .2s linear, z-index 0ms, display 0ms;
    width: 100%
}

.tv-item a {
    text-decoration: none;
    color: #000
}

.tv-item a:hover figure img {
    transform: scale(1.05)
}

.tv-item header h1 {
    font-size: 1.3333333333em;
    line-height: 1.2em
}

.wpcf7 label input {
    font-size: 16px;
    line-height: 18px;
    padding: 10px 64px 10px 20px
}

.wpcf7 label textarea {
    width: 100%
}

.tabelas td {
    line-height: 0 !important;
    padding: 0;
    border: 2px solid #ddd;
    vertical-align: middle
}

.tabelas td:last-child {
    padding: 20px 10px
}

.tabelas td li {
    list-style: none;
    color: #000 !important;
    font-family: Open Sans, sans-serif;
    font-size: .89rem;
    line-height: 24px !important
}

.tabelas h3 {
    margin-bottom: 10px
}

.tabelas h3 a {
    text-decoration: none !important;
    line-height: 20px;
    text-decoration: none
}

.tabelas td img {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both
}
