@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.mouse-over {
		@apply transition-all hover:brightness-75 cursor-pointer;
	}

	*,
	::before,
	::after {
		@apply text-gray_text dark:text-white;
	}

	.scrollbar-compensation {
		width: calc(100% + 17px);
		padding-right: 17px;
	}
}

li.slick-active > button > div {
	@apply bg-yellow_1;
}

div.slick-dots ul li button::before {
	content: none !important;
}

div.slick-dots ul li button {
	outline-width: 2px;
	border-radius: 1000px;
	padding: 0;
	width: min-content;
	height: min-content;
}

div.slick-dots ul li button:focus-visible {
	outline-width: 2px;
	outline-style: solid;
	outline-color: white;
}

