.cardResultado{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-bottom: 2em;
}
.titulo{
    font-family: Open Sans;
    font-size: 2em;
    font-weight: 100;
    color: black;
}
.descricao{
    font-family: Open Sans;
    font-size: 1em;
    font-weight: 100;
    color: black;
    text-align: center;
}
@media screen and (max-width: 1000px){
    .cardResultado{

    }
}

@media screen and (max-width: 600px){
     .cardResultado{
     width: 100%;
     margin: auto;
     }

}