.menu{
    width: 86%;
    grid-area: secao-menu;
    margin-right: 1em;
    margin-top: 2em;
}.menuLista{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
}
.listaItem{
    display: flex;
    width: 100%;
    padding: 7px 111.55px 7px 18px;
    align-items: center;
    flex-shrink: 0;
    background: #0693E3;
}
.listaItem:hover{
    background: #035888;;
}
.itemLink{
    color: #FFF;
    font-size: 16px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}
.teste{
    background-color: red;
}

@media screen and (max-width: 900px){
    .menuLista{
        display: none;
    }
    .menuMobile{
        width: 300px;
        display: initial;
        position: absolute;
        left: 0;    
    }

 }
 
 @media screen and (max-width: 600px){

}