/* Header and footer */
.header {
    background: #1F3748;
}
.headerBrand, .headerAccessibility{
    box-sizing: border-box;
    /*float: left;*/
    position: relative
}
.container{
    text-align: center
}
.headerContainer{
    position: relative
}
.iconUfmgM:before {
    content: "\e90c"
}
.headerAccessibility{
    box-sizing: border-box;
    /*float: left;*/
    position: relative
}
.iconAccessibility:before{
    content: "\e900"
}

.iconContrast:before {
    content: "\e901";
}
li.onlyDesk{
    display: none;
}
li.onlyMobile{
    display: none;
}
.iconSearch:before{
    content: "Ó§â"
}
/*
.contrastToggle{
não achei, está no ícone de contraste
}*/

            