.pagina{
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 0.7fr 1fr 1fr ;
    grid-template-areas: "secao-menu secao-main secao-main";
}
.tituloConteudo{
    font-size: 1.5em;
    font-family: Open Sans;
    font-weight: bolder;
    margin: 1em 0 1em 0;
}
.concursosDestaque{
    display:flex;
    gap: 1.5em;
    flex-wrap: wrap;
}
.paginaConteudo{
    grid-area: secao-main;
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
}
.noticiasDestaque{
    display:flex;
    gap: 1.5em;
    flex-wrap: wrap;
    justify-content: space-around;
}
.resultadosDestaques{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
}
.busca{
    margin: 2em 0;
    padding: 0.5em;
    font-family: Open Sans;
}
.paginaConcursos{
    width: 80%;
    margin: auto;
    display: grid;
    gap: 1em;
    grid-template-columns: 0.7fr 2fr 1fr ;
    grid-template-areas: "secao-menu secao-linhaCronológica secao-arquivos";
}
.linhaCronologica{
    grid-area: secao-linhaCronológica ;
}
.arquivos{
    grid-area: secao-arquivos;
}
.arquivosConteudo{
    border: 0.5px rgb(155, 155, 155) solid;
    margin-top: 2em;

}
.linhaCronologicaConteudo{
    border: 0.5px rgb(155, 155, 155) solid;
}
.tituloCards{
    font-family: Open Sans;
    background: #035888;
    color: white;
    padding: 0.2em;
}
.texto{
    font-family: Open Sans;

}
@media screen and (max-width: 1200px){
    .pagina{
        width: 90%;
    }
    .paginaConteudo{
        width: 90%;
        margin-bottom: 3em;
    }
    .paginaConcursos{
        width: 90%;
    }

}
@media screen and (max-width: 900px){
    .paginaConcursos{
        width: 80%;
        display: flex;
        flex-direction: column;
    }
    .pagina{
        display: flex;
        flex-direction: column;
    }
 }
 
 @media screen and (max-width: 600px){

}