.pagina{
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-areas: "secao-menu secao-main secao-main";
}
.tituloConcursos{
    font-size: 1.5em;
    font-family: Open Sans;
    font-weight: bolder;
}
.concursosDestaque{
    display:flex;
    gap: 1em;
}
.paginaConteudo{
    grid-area: secao-main;
    display: flex;
    flex-direction: column;
}