.pagina{
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-areas: "secao-menu secao-main secao-main";
}
.tituloConcursos{
    font-size: 1.5em;
    font-family: Open Sans;
    font-weight: bolder;
    margin: 2em 0 1em 0;
}
.concursosDestaque{
    display:flex;
    gap: 1.5em;
    flex-wrap: wrap;
}
.paginaConteudo{
    grid-area: secao-main;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 900px){
    .pagina{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .paginaConteudo{
        width: 90%;
        margin: auto;
    }

 }
 
 @media screen and (max-width: 600px){

}