@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.mouse-over {
		@apply transition-all hover:brightness-75 cursor-pointer;
	}

	*,
	::before,
	::after {
		@apply text-gray_text dark:text-white;
	}

	.scrollbar-compensation {
		width: calc(100% + 17px);
		padding-right: 17px;
	}
}

.breadcrumbLink[aria-current]{
	font-weight: bold;
}

.breadcrumbLi + .breadcrumbLi::before {
	display: inline-block;
	margin: 0 6px;
	content: '/';
}

