.imagemNoticia{
    width: 100%;
}
.cardNoticia{
width: 43%;
display: flex;
flex-direction: column;
gap: 0.5em;
}
.titulo{
    font-family: Open Sans;
    font-size: 2em;
    font-weight: 100;
    color: black;
}

.data{
    font-family: Open Sans;
    font-size: 0.80em;
    font-weight: 100;
    color: black;
}
@media screen and (max-width: 1000px){
    .cardNoticia{
        width: 47%;
    }
}

@media screen and (max-width: 600px){
     .cardNoticia{
     width: 100%;
     margin: auto;
     }

}