
.texto {
    color: #FFF;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    line-height: 24px;
    text-align: center;
}
.footer h3{
    margin: 1em;
}
.container{
    width: 50%;
    margin: auto;
}
.footer {
    background: #1F3748;
    padding: 1.5em;
}

@media screen and (max-width: 900px){
   .container{
    width: 80%;
   }
}

@media screen and (max-width: 600px){
    .container{
        width: 90%;
       }
}