.textoContato{
    width:100%;
    grid-area: secao-main;
    font-size: 2em;
    font-family: Open Sans;
}
.tituloContato{
    color: #000;
    font-family: Open Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 48px;
}
.subtituloContato{
    color: #444;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}
.paragrafo{
    color: #444;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0.75em 0 0 0;
}
.listaItem{
    color: #444;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}